<%- partial('_partial/head') %>
<body>	
	<!--header -->
	<header class="header">
		<%- partial('_partial/header') %>
	</header>
	<!--header -->
		<!-- index -->
			<%- body %>
		<!-- index -->
	<!-- footer -->
 	<%- partial('_partial/footer') %>
	<!-- footer -->
</body>
</html>
