<!-- footer -->
<footer class="ui divided horizontal footer">
	 <div class="ui inverted divider"></div>
    <h4 class="ui teal center aligned  header">&copy; 2014 guotingchaopr Corporation</h4>
</footer>
