<!-- footer -->
<footer class="ui center aligned  divided horizontal footer">
	<div class="ui black circular label"></div>
	<div class="ui green circular label"></div>
	<div class="ui red circular label"></div>
	<div class="ui blue circular label"></div>
	<div class="ui purple circular label"></div>
	<div class="ui teal circular label"></div>
	<div class="ui black circular label"></div>
	<div class="ui green circular label"></div>
	<div class="ui red circular label"></div>
	<div class="ui blue circular label"></div>
	<div class="ui purple circular label"></div>
	<div class="ui teal circular label"></div>
	<div class="ui black circular label"></div>
	<div class="ui green circular label"></div>
	<div class="ui red circular label"></div>
	<div class="ui blue circular label"></div>
	<div class="ui purple circular label"></div>
	<div class="ui teal circular label"></div>
   <h4 class="ui inverted">&copy; 2014 guotingchaopr Corporation</h4>
</footer>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%- js([ 'js/jquery.min.js', 'js/semantic.min.js', 'js/prism.js', 'js/main.js']) %>
